<mtarl>
	<!-- Hier kommen die MySQL Daten rein, die für das connecten wichtig sind -->
	<mysqldata>
		<host>127.0.0.1</host>
		<user>root</user>
		<password></password>
		<table>mtarl</table>
	</mysqldata>

	<!-- MySQL Token -->
	<mysqltoken>changeme</mysqltoken>

    <!-- Aktiviert den Serverweiten Debugmodus -->
	<debugmode>true</debugmode>

	<!-- Webservices nur final! -->
	<webservices>false</webservices>
</mtarl>
